resource_group_name = "rg-opentofu-openbao-test"
location            = "eastus"
caller_ipv4_cidr    = "203.0.113.10/32"
dns_label           = "openbao-test-replace-1234"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"

tags = {
  owner       = "replace-with-your-name"
  cost-center = "learning"
}
